body {
    background-color: antiquewhite;
}

.container {
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    row-gap: 5px;
    width: 100%;
}

.date {
    border-radius: 10%;
}

.button {
    background-color: brown;
    color: white;
    border-radius: 10%;
}

.inputline {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.invalidDate {
    color: red;
    opacity: 0;
}

